/* color */
/* bg */

/* color */
/* bg */

/* color */
/* bg */
.box-contact {
  margin: 0 auto; }

/* color */
/* bg */
.btn-yellow {
  color: #001320;
  background-color: #ffbf40;
  /*border-color: #2e6da4;*/ }

/* color */
/* bg */
.f-i {
  font-style: italic; }

.f-b {
  font-weight: bold; }

.f-0 {
  font-size: 0px; }

.f-1 {
  font-size: 1px; }

.f-2 {
  font-size: 2px; }

.f-3 {
  font-size: 3px; }

.f-4 {
  font-size: 4px; }

.f-5 {
  font-size: 5px; }

.f-6 {
  font-size: 6px; }

.f-7 {
  font-size: 7px; }

.f-8 {
  font-size: 8px; }

.f-9 {
  font-size: 9px; }

.f-10 {
  font-size: 10px; }

.f-12 {
  font-size: 12px; }

.f-13 {
  font-size: 13px; }

.f-15 {
  font-size: 15px; }

.f-20 {
  font-size: 20px; }

.f-25 {
  font-size: 25px; }

.f-30 {
  font-size: 30px; }

.f-35 {
  font-size: 35px; }

.f-40 {
  font-size: 40px; }

.f-45 {
  font-size: 45px; }

.f-50 {
  font-size: 50px; }

.f-55 {
  font-size: 55px; }

.f-60 {
  font-size: 60px; }

.f-65 {
  font-size: 65px; }

.f-70 {
  font-size: 70px; }

.f-75 {
  font-size: 75px; }

.f-80 {
  font-size: 80px; }

.f-85 {
  font-size: 85px; }

.f-90 {
  font-size: 90px; }

.f-95 {
  font-size: 95px; }

.f-100 {
  font-size: 100px; }

/* color */
/* bg */
footer {
  background: url("../images/footer-bg.png") no-repeat;
  background-size: cover; }

.f-main {
  position: relative; }

.f-bg-pre {
  position: absolute;
  top: -94px; }

.f-title {
  font-weight: bold;
  font-size: 18px; }

.f-des {
  margin: 10px 0px 10px 0px; }

.f-navigation {
  padding: 40px 0px 15px 0px; }

.f-copyright {
  padding: 25px 0px; }

.f-frm .form-control {
  margin-bottom: 10px; }

/* color */
/* bg */
.header {
  overflow: hidden;
  width: 100%;
  height: 100px;
  background-color: #9fb8e0;
  -webkit-box-shadow: 0px 4px 26px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 4px 26px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 4px 26px -6px rgba(0, 0, 0, 0.75); }

.header-logo {
  line-height: 100px; }
  .header-logo img {
    width: 186px;
    height: auto; }

.header-menu {
  overflow: hidden;
  list-style: none;
  padding: 0; }

.header-menu-item {
  float: left;
  line-height: 35px;
  margin-right: 25px; }
  .header-menu-item > a {
    color: #001320;
    font-weight: 600; }
    .header-menu-item > a:hover {
      text-decoration: none;
      color: #389fb2; }

.menu-category {
  float: right; }

.menu-social {
  height: 35px; }


/* color */
/* bg */
.margin-top-0 {
  margin-top: 0px; }

.margin-bottom-0 {
  margin-bottom: 0px; }

.margin-left-0 {
  margin-left: 0px; }

.margin-right-0 {
  margin-right: 0px; }

.pd-t-0 {
  margin-top: 0px; }

.pd-b-0 {
  margin-bottom: 0px; }

.pd-l-0 {
  margin-left: 0px; }

.pd-r-0 {
  margin-right: 0px; }

.margin-top-1 {
  margin-top: 1px; }

.margin-bottom-1 {
  margin-bottom: 1px; }

.margin-left-1 {
  margin-left: 1px; }

.margin-right-1 {
  margin-right: 1px; }

.pd-t-1 {
  margin-top: 1px; }

.pd-b-1 {
  margin-bottom: 1px; }

.pd-l-1 {
  margin-left: 1px; }

.pd-r-1 {
  margin-right: 1px; }

.margin-top-2 {
  margin-top: 2px; }

.margin-bottom-2 {
  margin-bottom: 2px; }

.margin-left-2 {
  margin-left: 2px; }

.margin-right-2 {
  margin-right: 2px; }

.pd-t-2 {
  margin-top: 2px; }

.pd-b-2 {
  margin-bottom: 2px; }

.pd-l-2 {
  margin-left: 2px; }

.pd-r-2 {
  margin-right: 2px; }

.margin-top-3 {
  margin-top: 3px; }

.margin-bottom-3 {
  margin-bottom: 3px; }

.margin-left-3 {
  margin-left: 3px; }

.margin-right-3 {
  margin-right: 3px; }

.pd-t-3 {
  margin-top: 3px; }

.pd-b-3 {
  margin-bottom: 3px; }

.pd-l-3 {
  margin-left: 3px; }

.pd-r-3 {
  margin-right: 3px; }

.margin-top-4 {
  margin-top: 4px; }

.margin-bottom-4 {
  margin-bottom: 4px; }

.margin-left-4 {
  margin-left: 4px; }

.margin-right-4 {
  margin-right: 4px; }

.pd-t-4 {
  margin-top: 4px; }

.pd-b-4 {
  margin-bottom: 4px; }

.pd-l-4 {
  margin-left: 4px; }

.pd-r-4 {
  margin-right: 4px; }

.margin-top-5 {
  margin-top: 5px; }

.margin-bottom-5 {
  margin-bottom: 5px; }

.margin-left-5 {
  margin-left: 5px; }

.margin-right-5 {
  margin-right: 5px; }

.pd-t-5 {
  margin-top: 5px; }

.pd-b-5 {
  margin-bottom: 5px; }

.pd-l-5 {
  margin-left: 5px; }

.pd-r-5 {
  margin-right: 5px; }

.margin-top-6 {
  margin-top: 6px; }

.margin-bottom-6 {
  margin-bottom: 6px; }

.margin-left-6 {
  margin-left: 6px; }

.margin-right-6 {
  margin-right: 6px; }

.pd-t-6 {
  margin-top: 6px; }

.pd-b-6 {
  margin-bottom: 6px; }

.pd-l-6 {
  margin-left: 6px; }

.pd-r-6 {
  margin-right: 6px; }

.margin-top-7 {
  margin-top: 7px; }

.margin-bottom-7 {
  margin-bottom: 7px; }

.margin-left-7 {
  margin-left: 7px; }

.margin-right-7 {
  margin-right: 7px; }

.pd-t-7 {
  margin-top: 7px; }

.pd-b-7 {
  margin-bottom: 7px; }

.pd-l-7 {
  margin-left: 7px; }

.pd-r-7 {
  margin-right: 7px; }

.margin-top-8 {
  margin-top: 8px; }

.margin-bottom-8 {
  margin-bottom: 8px; }

.margin-left-8 {
  margin-left: 8px; }

.margin-right-8 {
  margin-right: 8px; }

.pd-t-8 {
  margin-top: 8px; }

.pd-b-8 {
  margin-bottom: 8px; }

.pd-l-8 {
  margin-left: 8px; }

.pd-r-8 {
  margin-right: 8px; }

.margin-top-9 {
  margin-top: 9px; }

.margin-bottom-9 {
  margin-bottom: 9px; }

.margin-left-9 {
  margin-left: 9px; }

.margin-right-9 {
  margin-right: 9px; }

.pd-t-9 {
  margin-top: 9px; }

.pd-b-9 {
  margin-bottom: 9px; }

.pd-l-9 {
  margin-left: 9px; }

.pd-r-9 {
  margin-right: 9px; }

.margin-top-10 {
  margin-top: 10px; }

.margin-bottom-10 {
  margin-bottom: 10px; }

.margin-left-10 {
  margin-left: 10px; }

.margin-right-10 {
  margin-right: 10px; }

.pd-t-10 {
  margin-top: 10px; }

.pd-b-10 {
  margin-bottom: 10px; }

.pd-l-10 {
  margin-left: 10px; }

.pd-r-10 {
  margin-right: 10px; }

.margin-top-12 {
  margin-top: 12px; }

.margin-bottom-12 {
  margin-bottom: 12px; }

.margin-left-12 {
  margin-left: 12px; }

.margin-right-12 {
  margin-right: 12px; }

.pd-t-12 {
  margin-top: 12px; }

.pd-b-12 {
  margin-bottom: 12px; }

.pd-l-12 {
  margin-left: 12px; }

.pd-r-12 {
  margin-right: 12px; }

.margin-top-13 {
  margin-top: 13px; }

.margin-bottom-13 {
  margin-bottom: 13px; }

.margin-left-13 {
  margin-left: 13px; }

.margin-right-13 {
  margin-right: 13px; }

.pd-t-13 {
  margin-top: 13px; }

.pd-b-13 {
  margin-bottom: 13px; }

.pd-l-13 {
  margin-left: 13px; }

.pd-r-13 {
  margin-right: 13px; }

.margin-top-15 {
  margin-top: 15px; }

.margin-bottom-15 {
  margin-bottom: 15px; }

.margin-left-15 {
  margin-left: 15px; }

.margin-right-15 {
  margin-right: 15px; }

.pd-t-15 {
  margin-top: 15px; }

.pd-b-15 {
  margin-bottom: 15px; }

.pd-l-15 {
  margin-left: 15px; }

.pd-r-15 {
  margin-right: 15px; }

.margin-top-20 {
  margin-top: 20px; }

.margin-bottom-20 {
  margin-bottom: 20px; }

.margin-left-20 {
  margin-left: 20px; }

.margin-right-20 {
  margin-right: 20px; }

.pd-t-20 {
  margin-top: 20px; }

.pd-b-20 {
  margin-bottom: 20px; }

.pd-l-20 {
  margin-left: 20px; }

.pd-r-20 {
  margin-right: 20px; }

.margin-top-25 {
  margin-top: 25px; }

.margin-bottom-25 {
  margin-bottom: 25px; }

.margin-left-25 {
  margin-left: 25px; }

.margin-right-25 {
  margin-right: 25px; }

.pd-t-25 {
  margin-top: 25px; }

.pd-b-25 {
  margin-bottom: 25px; }

.pd-l-25 {
  margin-left: 25px; }

.pd-r-25 {
  margin-right: 25px; }

.margin-top-30 {
  margin-top: 30px; }

.margin-bottom-30 {
  margin-bottom: 30px; }

.margin-left-30 {
  margin-left: 30px; }

.margin-right-30 {
  margin-right: 30px; }

.pd-t-30 {
  margin-top: 30px; }

.pd-b-30 {
  margin-bottom: 30px; }

.pd-l-30 {
  margin-left: 30px; }

.pd-r-30 {
  margin-right: 30px; }

.margin-top-35 {
  margin-top: 35px; }

.margin-bottom-35 {
  margin-bottom: 35px; }

.margin-left-35 {
  margin-left: 35px; }

.margin-right-35 {
  margin-right: 35px; }

.pd-t-35 {
  margin-top: 35px; }

.pd-b-35 {
  margin-bottom: 35px; }

.pd-l-35 {
  margin-left: 35px; }

.pd-r-35 {
  margin-right: 35px; }

.margin-top-40 {
  margin-top: 40px; }

.margin-bottom-40 {
  margin-bottom: 40px; }

.margin-left-40 {
  margin-left: 40px; }

.margin-right-40 {
  margin-right: 40px; }

.pd-t-40 {
  margin-top: 40px; }

.pd-b-40 {
  margin-bottom: 40px; }

.pd-l-40 {
  margin-left: 40px; }

.pd-r-40 {
  margin-right: 40px; }

.margin-top-45 {
  margin-top: 45px; }

.margin-bottom-45 {
  margin-bottom: 45px; }

.margin-left-45 {
  margin-left: 45px; }

.margin-right-45 {
  margin-right: 45px; }

.pd-t-45 {
  margin-top: 45px; }

.pd-b-45 {
  margin-bottom: 45px; }

.pd-l-45 {
  margin-left: 45px; }

.pd-r-45 {
  margin-right: 45px; }

.margin-top-50 {
  margin-top: 50px; }

.margin-bottom-50 {
  margin-bottom: 50px; }

.margin-left-50 {
  margin-left: 50px; }

.margin-right-50 {
  margin-right: 50px; }

.pd-t-50 {
  margin-top: 50px; }

.pd-b-50 {
  margin-bottom: 50px; }

.pd-l-50 {
  margin-left: 50px; }

.pd-r-50 {
  margin-right: 50px; }

.margin-top-55 {
  margin-top: 55px; }

.margin-bottom-55 {
  margin-bottom: 55px; }

.margin-left-55 {
  margin-left: 55px; }

.margin-right-55 {
  margin-right: 55px; }

.pd-t-55 {
  margin-top: 55px; }

.pd-b-55 {
  margin-bottom: 55px; }

.pd-l-55 {
  margin-left: 55px; }

.pd-r-55 {
  margin-right: 55px; }

.margin-top-60 {
  margin-top: 60px; }

.margin-bottom-60 {
  margin-bottom: 60px; }

.margin-left-60 {
  margin-left: 60px; }

.margin-right-60 {
  margin-right: 60px; }

.pd-t-60 {
  margin-top: 60px; }

.pd-b-60 {
  margin-bottom: 60px; }

.pd-l-60 {
  margin-left: 60px; }

.pd-r-60 {
  margin-right: 60px; }

.margin-top-65 {
  margin-top: 65px; }

.margin-bottom-65 {
  margin-bottom: 65px; }

.margin-left-65 {
  margin-left: 65px; }

.margin-right-65 {
  margin-right: 65px; }

.pd-t-65 {
  margin-top: 65px; }

.pd-b-65 {
  margin-bottom: 65px; }

.pd-l-65 {
  margin-left: 65px; }

.pd-r-65 {
  margin-right: 65px; }

.margin-top-70 {
  margin-top: 70px; }

.margin-bottom-70 {
  margin-bottom: 70px; }

.margin-left-70 {
  margin-left: 70px; }

.margin-right-70 {
  margin-right: 70px; }

.pd-t-70 {
  margin-top: 70px; }

.pd-b-70 {
  margin-bottom: 70px; }

.pd-l-70 {
  margin-left: 70px; }

.pd-r-70 {
  margin-right: 70px; }

.margin-top-75 {
  margin-top: 75px; }

.margin-bottom-75 {
  margin-bottom: 75px; }

.margin-left-75 {
  margin-left: 75px; }

.margin-right-75 {
  margin-right: 75px; }

.pd-t-75 {
  margin-top: 75px; }

.pd-b-75 {
  margin-bottom: 75px; }

.pd-l-75 {
  margin-left: 75px; }

.pd-r-75 {
  margin-right: 75px; }

.margin-top-80 {
  margin-top: 80px; }

.margin-bottom-80 {
  margin-bottom: 80px; }

.margin-left-80 {
  margin-left: 80px; }

.margin-right-80 {
  margin-right: 80px; }

.pd-t-80 {
  margin-top: 80px; }

.pd-b-80 {
  margin-bottom: 80px; }

.pd-l-80 {
  margin-left: 80px; }

.pd-r-80 {
  margin-right: 80px; }

.margin-top-85 {
  margin-top: 85px; }

.margin-bottom-85 {
  margin-bottom: 85px; }

.margin-left-85 {
  margin-left: 85px; }

.margin-right-85 {
  margin-right: 85px; }

.pd-t-85 {
  margin-top: 85px; }

.pd-b-85 {
  margin-bottom: 85px; }

.pd-l-85 {
  margin-left: 85px; }

.pd-r-85 {
  margin-right: 85px; }

.margin-top-90 {
  margin-top: 90px; }

.margin-bottom-90 {
  margin-bottom: 90px; }

.margin-left-90 {
  margin-left: 90px; }

.margin-right-90 {
  margin-right: 90px; }

.pd-t-90 {
  margin-top: 90px; }

.pd-b-90 {
  margin-bottom: 90px; }

.pd-l-90 {
  margin-left: 90px; }

.pd-r-90 {
  margin-right: 90px; }

.margin-top-95 {
  margin-top: 95px; }

.margin-bottom-95 {
  margin-bottom: 95px; }

.margin-left-95 {
  margin-left: 95px; }

.margin-right-95 {
  margin-right: 95px; }

.pd-t-95 {
  margin-top: 95px; }

.pd-b-95 {
  margin-bottom: 95px; }

.pd-l-95 {
  margin-left: 95px; }

.pd-r-95 {
  margin-right: 95px; }

.margin-top-100 {
  margin-top: 100px; }

.margin-bottom-100 {
  margin-bottom: 100px; }

.margin-left-100 {
  margin-left: 100px; }

.margin-right-100 {
  margin-right: 100px; }

.pd-t-100 {
  margin-top: 100px; }

.pd-b-100 {
  margin-bottom: 100px; }

.pd-l-100 {
  margin-left: 100px; }

.pd-r-100 {
  margin-right: 100px; }

.padding-top-0 {
  padding-top: 0px; }

.padding-bottom-0 {
  padding-bottom: 0px; }

.padding-left-0 {
  padding-left: 0px; }

.padding-right-0 {
  padding-right: 0px; }

.padding-top-1 {
  padding-top: 1px; }

.padding-bottom-1 {
  padding-bottom: 1px; }

.padding-left-1 {
  padding-left: 1px; }

.padding-right-1 {
  padding-right: 1px; }

.padding-top-2 {
  padding-top: 2px; }

.padding-bottom-2 {
  padding-bottom: 2px; }

.padding-left-2 {
  padding-left: 2px; }

.padding-right-2 {
  padding-right: 2px; }

.padding-top-3 {
  padding-top: 3px; }

.padding-bottom-3 {
  padding-bottom: 3px; }

.padding-left-3 {
  padding-left: 3px; }

.padding-right-3 {
  padding-right: 3px; }

.padding-top-4 {
  padding-top: 4px; }

.padding-bottom-4 {
  padding-bottom: 4px; }

.padding-left-4 {
  padding-left: 4px; }

.padding-right-4 {
  padding-right: 4px; }

.padding-top-5 {
  padding-top: 5px; }

.padding-bottom-5 {
  padding-bottom: 5px; }

.padding-left-5 {
  padding-left: 5px; }

.padding-right-5 {
  padding-right: 5px; }

.padding-top-6 {
  padding-top: 6px; }

.padding-bottom-6 {
  padding-bottom: 6px; }

.padding-left-6 {
  padding-left: 6px; }

.padding-right-6 {
  padding-right: 6px; }

.padding-top-7 {
  padding-top: 7px; }

.padding-bottom-7 {
  padding-bottom: 7px; }

.padding-left-7 {
  padding-left: 7px; }

.padding-right-7 {
  padding-right: 7px; }

.padding-top-8 {
  padding-top: 8px; }

.padding-bottom-8 {
  padding-bottom: 8px; }

.padding-left-8 {
  padding-left: 8px; }

.padding-right-8 {
  padding-right: 8px; }

.padding-top-9 {
  padding-top: 9px; }

.padding-bottom-9 {
  padding-bottom: 9px; }

.padding-left-9 {
  padding-left: 9px; }

.padding-right-9 {
  padding-right: 9px; }

.padding-top-10 {
  padding-top: 10px; }

.padding-bottom-10 {
  padding-bottom: 10px; }

.padding-left-10 {
  padding-left: 10px; }

.padding-right-10 {
  padding-right: 10px; }

.padding-top-12 {
  padding-top: 12px; }

.padding-bottom-12 {
  padding-bottom: 12px; }

.padding-left-12 {
  padding-left: 12px; }

.padding-right-12 {
  padding-right: 12px; }

.padding-top-13 {
  padding-top: 13px; }

.padding-bottom-13 {
  padding-bottom: 13px; }

.padding-left-13 {
  padding-left: 13px; }

.padding-right-13 {
  padding-right: 13px; }

.padding-top-15 {
  padding-top: 15px; }

.padding-bottom-15 {
  padding-bottom: 15px; }

.padding-left-15 {
  padding-left: 15px; }

.padding-right-15 {
  padding-right: 15px; }

.padding-top-20 {
  padding-top: 20px; }

.padding-bottom-20 {
  padding-bottom: 20px; }

.padding-left-20 {
  padding-left: 20px; }

.padding-right-20 {
  padding-right: 20px; }

.padding-top-25 {
  padding-top: 25px; }

.padding-bottom-25 {
  padding-bottom: 25px; }

.padding-left-25 {
  padding-left: 25px; }

.padding-right-25 {
  padding-right: 25px; }

.padding-top-30 {
  padding-top: 30px; }

.padding-bottom-30 {
  padding-bottom: 30px; }

.padding-left-30 {
  padding-left: 30px; }

.padding-right-30 {
  padding-right: 30px; }

.padding-top-35 {
  padding-top: 35px; }

.padding-bottom-35 {
  padding-bottom: 35px; }

.padding-left-35 {
  padding-left: 35px; }

.padding-right-35 {
  padding-right: 35px; }

.padding-top-40 {
  padding-top: 40px; }

.padding-bottom-40 {
  padding-bottom: 40px; }

.padding-left-40 {
  padding-left: 40px; }

.padding-right-40 {
  padding-right: 40px; }

.padding-top-45 {
  padding-top: 45px; }

.padding-bottom-45 {
  padding-bottom: 45px; }

.padding-left-45 {
  padding-left: 45px; }

.padding-right-45 {
  padding-right: 45px; }

.padding-top-50 {
  padding-top: 50px; }

.padding-bottom-50 {
  padding-bottom: 50px; }

.padding-left-50 {
  padding-left: 50px; }

.padding-right-50 {
  padding-right: 50px; }

.padding-top-55 {
  padding-top: 55px; }

.padding-bottom-55 {
  padding-bottom: 55px; }

.padding-left-55 {
  padding-left: 55px; }

.padding-right-55 {
  padding-right: 55px; }

.padding-top-60 {
  padding-top: 60px; }

.padding-bottom-60 {
  padding-bottom: 60px; }

.padding-left-60 {
  padding-left: 60px; }

.padding-right-60 {
  padding-right: 60px; }

.padding-top-65 {
  padding-top: 65px; }

.padding-bottom-65 {
  padding-bottom: 65px; }

.padding-left-65 {
  padding-left: 65px; }

.padding-right-65 {
  padding-right: 65px; }

.padding-top-70 {
  padding-top: 70px; }

.padding-bottom-70 {
  padding-bottom: 70px; }

.padding-left-70 {
  padding-left: 70px; }

.padding-right-70 {
  padding-right: 70px; }

.padding-top-75 {
  padding-top: 75px; }

.padding-bottom-75 {
  padding-bottom: 75px; }

.padding-left-75 {
  padding-left: 75px; }

.padding-right-75 {
  padding-right: 75px; }

.padding-top-80 {
  padding-top: 80px; }

.padding-bottom-80 {
  padding-bottom: 80px; }

.padding-left-80 {
  padding-left: 80px; }

.padding-right-80 {
  padding-right: 80px; }

.padding-top-85 {
  padding-top: 85px; }

.padding-bottom-85 {
  padding-bottom: 85px; }

.padding-left-85 {
  padding-left: 85px; }

.padding-right-85 {
  padding-right: 85px; }

.padding-top-90 {
  padding-top: 90px; }

.padding-bottom-90 {
  padding-bottom: 90px; }

.padding-left-90 {
  padding-left: 90px; }

.padding-right-90 {
  padding-right: 90px; }

.padding-top-95 {
  padding-top: 95px; }

.padding-bottom-95 {
  padding-bottom: 95px; }

.padding-left-95 {
  padding-left: 95px; }

.padding-right-95 {
  padding-right: 95px; }

.padding-top-100 {
  padding-top: 100px; }

.padding-bottom-100 {
  padding-bottom: 100px; }

.padding-left-100 {
  padding-left: 100px; }

.padding-right-100 {
  padding-right: 100px; }

.margin-0 {
  margin: 0px; }

.margin-1 {
  margin: 1px; }

.margin-2 {
  margin: 2px; }

.margin-3 {
  margin: 3px; }

.margin-4 {
  margin: 4px; }

.margin-5 {
  margin: 5px; }

.margin-6 {
  margin: 6px; }

.margin-7 {
  margin: 7px; }

.margin-8 {
  margin: 8px; }

.margin-9 {
  margin: 9px; }

.margin-10 {
  margin: 10px; }

.margin-12 {
  margin: 12px; }

.margin-13 {
  margin: 13px; }

.margin-15 {
  margin: 15px; }

.margin-20 {
  margin: 20px; }

.margin-25 {
  margin: 25px; }

.margin-30 {
  margin: 30px; }

.margin-35 {
  margin: 35px; }

.margin-40 {
  margin: 40px; }

.margin-45 {
  margin: 45px; }

.margin-50 {
  margin: 50px; }

.margin-55 {
  margin: 55px; }

.margin-60 {
  margin: 60px; }

.margin-65 {
  margin: 65px; }

.margin-70 {
  margin: 70px; }

.margin-75 {
  margin: 75px; }

.margin-80 {
  margin: 80px; }

.margin-85 {
  margin: 85px; }

.margin-90 {
  margin: 90px; }

.margin-95 {
  margin: 95px; }

.margin-100 {
  margin: 100px; }

.padding-0 {
  padding: 0px; }

.padding-1 {
  padding: 1px; }

.padding-2 {
  padding: 2px; }

.padding-3 {
  padding: 3px; }

.padding-4 {
  padding: 4px; }

.padding-5 {
  padding: 5px; }

.padding-6 {
  padding: 6px; }

.padding-7 {
  padding: 7px; }

.padding-8 {
  padding: 8px; }

.padding-9 {
  padding: 9px; }

.padding-10 {
  padding: 10px; }

.padding-12 {
  padding: 12px; }

.padding-13 {
  padding: 13px; }

.padding-15 {
  padding: 15px; }

.padding-20 {
  padding: 20px; }

.padding-25 {
  padding: 25px; }

.padding-30 {
  padding: 30px; }

.padding-35 {
  padding: 35px; }

.padding-40 {
  padding: 40px; }

.padding-45 {
  padding: 45px; }

.padding-50 {
  padding: 50px; }

.padding-55 {
  padding: 55px; }

.padding-60 {
  padding: 60px; }

.padding-65 {
  padding: 65px; }

.padding-70 {
  padding: 70px; }

.padding-75 {
  padding: 75px; }

.padding-80 {
  padding: 80px; }

.padding-85 {
  padding: 85px; }

.padding-90 {
  padding: 90px; }

.padding-95 {
  padding: 95px; }

.padding-100 {
  padding: 100px; }

.margin-i-0 {
  margin: 0px !important; }

.margin-i-1 {
  margin: 1px !important; }

.margin-i-2 {
  margin: 2px !important; }

.margin-i-3 {
  margin: 3px !important; }

.margin-i-4 {
  margin: 4px !important; }

.margin-i-5 {
  margin: 5px !important; }

.margin-i-6 {
  margin: 6px !important; }

.margin-i-7 {
  margin: 7px !important; }

.margin-i-8 {
  margin: 8px !important; }

.margin-i-9 {
  margin: 9px !important; }

.margin-i-10 {
  margin: 10px !important; }

.margin-i-12 {
  margin: 12px !important; }

.margin-i-13 {
  margin: 13px !important; }

.margin-i-15 {
  margin: 15px !important; }

.margin-i-20 {
  margin: 20px !important; }

.margin-i-25 {
  margin: 25px !important; }

.margin-i-30 {
  margin: 30px !important; }

.margin-i-35 {
  margin: 35px !important; }

.margin-i-40 {
  margin: 40px !important; }

.margin-i-45 {
  margin: 45px !important; }

.margin-i-50 {
  margin: 50px !important; }

.margin-i-55 {
  margin: 55px !important; }

.margin-i-60 {
  margin: 60px !important; }

.margin-i-65 {
  margin: 65px !important; }

.margin-i-70 {
  margin: 70px !important; }

.margin-i-75 {
  margin: 75px !important; }

.margin-i-80 {
  margin: 80px !important; }

.margin-i-85 {
  margin: 85px !important; }

.margin-i-90 {
  margin: 90px !important; }

.margin-i-95 {
  margin: 95px !important; }

.margin-i-100 {
  margin: 100px !important; }

.padding-i-0 {
  padding: 0px !important; }

.padding-i-1 {
  padding: 1px !important; }

.padding-i-2 {
  padding: 2px !important; }

.padding-i-3 {
  padding: 3px !important; }

.padding-i-4 {
  padding: 4px !important; }

.padding-i-5 {
  padding: 5px !important; }

.padding-i-6 {
  padding: 6px !important; }

.padding-i-7 {
  padding: 7px !important; }

.padding-i-8 {
  padding: 8px !important; }

.padding-i-9 {
  padding: 9px !important; }

.padding-i-10 {
  padding: 10px !important; }

.padding-i-12 {
  padding: 12px !important; }

.padding-i-13 {
  padding: 13px !important; }

.padding-i-15 {
  padding: 15px !important; }

.padding-i-20 {
  padding: 20px !important; }

.padding-i-25 {
  padding: 25px !important; }

.padding-i-30 {
  padding: 30px !important; }

.padding-i-35 {
  padding: 35px !important; }

.padding-i-40 {
  padding: 40px !important; }

.padding-i-45 {
  padding: 45px !important; }

.padding-i-50 {
  padding: 50px !important; }

.padding-i-55 {
  padding: 55px !important; }

.padding-i-60 {
  padding: 60px !important; }

.padding-i-65 {
  padding: 65px !important; }

.padding-i-70 {
  padding: 70px !important; }

.padding-i-75 {
  padding: 75px !important; }

.padding-i-80 {
  padding: 80px !important; }

.padding-i-85 {
  padding: 85px !important; }

.padding-i-90 {
  padding: 90px !important; }

.padding-i-95 {
  padding: 95px !important; }

.padding-i-100 {
  padding: 100px !important; }

.top-0 {
  top: 0px; }

.bottom-0 {
  bottom: 0px; }

.left-0 {
  left: 0px; }

.right-0 {
  right: 0px; }

.top-1 {
  top: 1px; }

.bottom-1 {
  bottom: 1px; }

.left-1 {
  left: 1px; }

.right-1 {
  right: 1px; }

.top-2 {
  top: 2px; }

.bottom-2 {
  bottom: 2px; }

.left-2 {
  left: 2px; }

.right-2 {
  right: 2px; }

.top-3 {
  top: 3px; }

.bottom-3 {
  bottom: 3px; }

.left-3 {
  left: 3px; }

.right-3 {
  right: 3px; }

.top-4 {
  top: 4px; }

.bottom-4 {
  bottom: 4px; }

.left-4 {
  left: 4px; }

.right-4 {
  right: 4px; }

.top-5 {
  top: 5px; }

.bottom-5 {
  bottom: 5px; }

.left-5 {
  left: 5px; }

.right-5 {
  right: 5px; }

.top-6 {
  top: 6px; }

.bottom-6 {
  bottom: 6px; }

.left-6 {
  left: 6px; }

.right-6 {
  right: 6px; }

.top-7 {
  top: 7px; }

.bottom-7 {
  bottom: 7px; }

.left-7 {
  left: 7px; }

.right-7 {
  right: 7px; }

.top-8 {
  top: 8px; }

.bottom-8 {
  bottom: 8px; }

.left-8 {
  left: 8px; }

.right-8 {
  right: 8px; }

.top-9 {
  top: 9px; }

.bottom-9 {
  bottom: 9px; }

.left-9 {
  left: 9px; }

.right-9 {
  right: 9px; }

.top-10 {
  top: 10px; }

.bottom-10 {
  bottom: 10px; }

.left-10 {
  left: 10px; }

.right-10 {
  right: 10px; }

.top-12 {
  top: 12px; }

.bottom-12 {
  bottom: 12px; }

.left-12 {
  left: 12px; }

.right-12 {
  right: 12px; }

.top-13 {
  top: 13px; }

.bottom-13 {
  bottom: 13px; }

.left-13 {
  left: 13px; }

.right-13 {
  right: 13px; }

.top-15 {
  top: 15px; }

.bottom-15 {
  bottom: 15px; }

.left-15 {
  left: 15px; }

.right-15 {
  right: 15px; }

.top-20 {
  top: 20px; }

.bottom-20 {
  bottom: 20px; }

.left-20 {
  left: 20px; }

.right-20 {
  right: 20px; }

.top-25 {
  top: 25px; }

.bottom-25 {
  bottom: 25px; }

.left-25 {
  left: 25px; }

.right-25 {
  right: 25px; }

.top-30 {
  top: 30px; }

.bottom-30 {
  bottom: 30px; }

.left-30 {
  left: 30px; }

.right-30 {
  right: 30px; }

.top-35 {
  top: 35px; }

.bottom-35 {
  bottom: 35px; }

.left-35 {
  left: 35px; }

.right-35 {
  right: 35px; }

.top-40 {
  top: 40px; }

.bottom-40 {
  bottom: 40px; }

.left-40 {
  left: 40px; }

.right-40 {
  right: 40px; }

.top-45 {
  top: 45px; }

.bottom-45 {
  bottom: 45px; }

.left-45 {
  left: 45px; }

.right-45 {
  right: 45px; }

.top-50 {
  top: 50px; }

.bottom-50 {
  bottom: 50px; }

.left-50 {
  left: 50px; }

.right-50 {
  right: 50px; }

.top-55 {
  top: 55px; }

.bottom-55 {
  bottom: 55px; }

.left-55 {
  left: 55px; }

.right-55 {
  right: 55px; }

.top-60 {
  top: 60px; }

.bottom-60 {
  bottom: 60px; }

.left-60 {
  left: 60px; }

.right-60 {
  right: 60px; }

.top-65 {
  top: 65px; }

.bottom-65 {
  bottom: 65px; }

.left-65 {
  left: 65px; }

.right-65 {
  right: 65px; }

.top-70 {
  top: 70px; }

.bottom-70 {
  bottom: 70px; }

.left-70 {
  left: 70px; }

.right-70 {
  right: 70px; }

.top-75 {
  top: 75px; }

.bottom-75 {
  bottom: 75px; }

.left-75 {
  left: 75px; }

.right-75 {
  right: 75px; }

.top-80 {
  top: 80px; }

.bottom-80 {
  bottom: 80px; }

.left-80 {
  left: 80px; }

.right-80 {
  right: 80px; }

.top-85 {
  top: 85px; }

.bottom-85 {
  bottom: 85px; }

.left-85 {
  left: 85px; }

.right-85 {
  right: 85px; }

.top-90 {
  top: 90px; }

.bottom-90 {
  bottom: 90px; }

.left-90 {
  left: 90px; }

.right-90 {
  right: 90px; }

.top-95 {
  top: 95px; }

.bottom-95 {
  bottom: 95px; }

.left-95 {
  left: 95px; }

.right-95 {
  right: 95px; }

.top-100 {
  top: 100px; }

.bottom-100 {
  bottom: 100px; }

.left-100 {
  left: 100px; }

.right-100 {
  right: 100px; }

.margin-top-i-0 {
  margin-top: 0px !important; }

.margin-bottom-i-0 {
  margin-bottom: 0px !important; }

.margin-left-i-0 {
  margin-left: 0px !important; }

.margin-right-i-0 {
  margin-right: 0px !important; }

.margin-top-i-1 {
  margin-top: 1px !important; }

.margin-bottom-i-1 {
  margin-bottom: 1px !important; }

.margin-left-i-1 {
  margin-left: 1px !important; }

.margin-right-i-1 {
  margin-right: 1px !important; }

.margin-top-i-2 {
  margin-top: 2px !important; }

.margin-bottom-i-2 {
  margin-bottom: 2px !important; }

.margin-left-i-2 {
  margin-left: 2px !important; }

.margin-right-i-2 {
  margin-right: 2px !important; }

.margin-top-i-3 {
  margin-top: 3px !important; }

.margin-bottom-i-3 {
  margin-bottom: 3px !important; }

.margin-left-i-3 {
  margin-left: 3px !important; }

.margin-right-i-3 {
  margin-right: 3px !important; }

.margin-top-i-4 {
  margin-top: 4px !important; }

.margin-bottom-i-4 {
  margin-bottom: 4px !important; }

.margin-left-i-4 {
  margin-left: 4px !important; }

.margin-right-i-4 {
  margin-right: 4px !important; }

.margin-top-i-5 {
  margin-top: 5px !important; }

.margin-bottom-i-5 {
  margin-bottom: 5px !important; }

.margin-left-i-5 {
  margin-left: 5px !important; }

.margin-right-i-5 {
  margin-right: 5px !important; }

.margin-top-i-6 {
  margin-top: 6px !important; }

.margin-bottom-i-6 {
  margin-bottom: 6px !important; }

.margin-left-i-6 {
  margin-left: 6px !important; }

.margin-right-i-6 {
  margin-right: 6px !important; }

.margin-top-i-7 {
  margin-top: 7px !important; }

.margin-bottom-i-7 {
  margin-bottom: 7px !important; }

.margin-left-i-7 {
  margin-left: 7px !important; }

.margin-right-i-7 {
  margin-right: 7px !important; }

.margin-top-i-8 {
  margin-top: 8px !important; }

.margin-bottom-i-8 {
  margin-bottom: 8px !important; }

.margin-left-i-8 {
  margin-left: 8px !important; }

.margin-right-i-8 {
  margin-right: 8px !important; }

.margin-top-i-9 {
  margin-top: 9px !important; }

.margin-bottom-i-9 {
  margin-bottom: 9px !important; }

.margin-left-i-9 {
  margin-left: 9px !important; }

.margin-right-i-9 {
  margin-right: 9px !important; }

.margin-top-i-10 {
  margin-top: 10px !important; }

.margin-bottom-i-10 {
  margin-bottom: 10px !important; }

.margin-left-i-10 {
  margin-left: 10px !important; }

.margin-right-i-10 {
  margin-right: 10px !important; }

.margin-top-i-12 {
  margin-top: 12px !important; }

.margin-bottom-i-12 {
  margin-bottom: 12px !important; }

.margin-left-i-12 {
  margin-left: 12px !important; }

.margin-right-i-12 {
  margin-right: 12px !important; }

.margin-top-i-13 {
  margin-top: 13px !important; }

.margin-bottom-i-13 {
  margin-bottom: 13px !important; }

.margin-left-i-13 {
  margin-left: 13px !important; }

.margin-right-i-13 {
  margin-right: 13px !important; }

.margin-top-i-15 {
  margin-top: 15px !important; }

.margin-bottom-i-15 {
  margin-bottom: 15px !important; }

.margin-left-i-15 {
  margin-left: 15px !important; }

.margin-right-i-15 {
  margin-right: 15px !important; }

.margin-top-i-20 {
  margin-top: 20px !important; }

.margin-bottom-i-20 {
  margin-bottom: 20px !important; }

.margin-left-i-20 {
  margin-left: 20px !important; }

.margin-right-i-20 {
  margin-right: 20px !important; }

.margin-top-i-25 {
  margin-top: 25px !important; }

.margin-bottom-i-25 {
  margin-bottom: 25px !important; }

.margin-left-i-25 {
  margin-left: 25px !important; }

.margin-right-i-25 {
  margin-right: 25px !important; }

.margin-top-i-30 {
  margin-top: 30px !important; }

.margin-bottom-i-30 {
  margin-bottom: 30px !important; }

.margin-left-i-30 {
  margin-left: 30px !important; }

.margin-right-i-30 {
  margin-right: 30px !important; }

.margin-top-i-35 {
  margin-top: 35px !important; }

.margin-bottom-i-35 {
  margin-bottom: 35px !important; }

.margin-left-i-35 {
  margin-left: 35px !important; }

.margin-right-i-35 {
  margin-right: 35px !important; }

.margin-top-i-40 {
  margin-top: 40px !important; }

.margin-bottom-i-40 {
  margin-bottom: 40px !important; }

.margin-left-i-40 {
  margin-left: 40px !important; }

.margin-right-i-40 {
  margin-right: 40px !important; }

.margin-top-i-45 {
  margin-top: 45px !important; }

.margin-bottom-i-45 {
  margin-bottom: 45px !important; }

.margin-left-i-45 {
  margin-left: 45px !important; }

.margin-right-i-45 {
  margin-right: 45px !important; }

.margin-top-i-50 {
  margin-top: 50px !important; }

.margin-bottom-i-50 {
  margin-bottom: 50px !important; }

.margin-left-i-50 {
  margin-left: 50px !important; }

.margin-right-i-50 {
  margin-right: 50px !important; }

.margin-top-i-55 {
  margin-top: 55px !important; }

.margin-bottom-i-55 {
  margin-bottom: 55px !important; }

.margin-left-i-55 {
  margin-left: 55px !important; }

.margin-right-i-55 {
  margin-right: 55px !important; }

.margin-top-i-60 {
  margin-top: 60px !important; }

.margin-bottom-i-60 {
  margin-bottom: 60px !important; }

.margin-left-i-60 {
  margin-left: 60px !important; }

.margin-right-i-60 {
  margin-right: 60px !important; }

.margin-top-i-65 {
  margin-top: 65px !important; }

.margin-bottom-i-65 {
  margin-bottom: 65px !important; }

.margin-left-i-65 {
  margin-left: 65px !important; }

.margin-right-i-65 {
  margin-right: 65px !important; }

.margin-top-i-70 {
  margin-top: 70px !important; }

.margin-bottom-i-70 {
  margin-bottom: 70px !important; }

.margin-left-i-70 {
  margin-left: 70px !important; }

.margin-right-i-70 {
  margin-right: 70px !important; }

.margin-top-i-75 {
  margin-top: 75px !important; }

.margin-bottom-i-75 {
  margin-bottom: 75px !important; }

.margin-left-i-75 {
  margin-left: 75px !important; }

.margin-right-i-75 {
  margin-right: 75px !important; }

.margin-top-i-80 {
  margin-top: 80px !important; }

.margin-bottom-i-80 {
  margin-bottom: 80px !important; }

.margin-left-i-80 {
  margin-left: 80px !important; }

.margin-right-i-80 {
  margin-right: 80px !important; }

.margin-top-i-85 {
  margin-top: 85px !important; }

.margin-bottom-i-85 {
  margin-bottom: 85px !important; }

.margin-left-i-85 {
  margin-left: 85px !important; }

.margin-right-i-85 {
  margin-right: 85px !important; }

.margin-top-i-90 {
  margin-top: 90px !important; }

.margin-bottom-i-90 {
  margin-bottom: 90px !important; }

.margin-left-i-90 {
  margin-left: 90px !important; }

.margin-right-i-90 {
  margin-right: 90px !important; }

.margin-top-i-95 {
  margin-top: 95px !important; }

.margin-bottom-i-95 {
  margin-bottom: 95px !important; }

.margin-left-i-95 {
  margin-left: 95px !important; }

.margin-right-i-95 {
  margin-right: 95px !important; }

.margin-top-i-100 {
  margin-top: 100px !important; }

.margin-bottom-i-100 {
  margin-bottom: 100px !important; }

.margin-left-i-100 {
  margin-left: 100px !important; }

.margin-right-i-100 {
  margin-right: 100px !important; }

.padding-top-i-0 {
  padding-top: 0px !important; }

.padding-bottom-i-0 {
  padding-bottom: 0px !important; }

.padding-left-i-0 {
  padding-left: 0px !important; }

.padding-right-i-0 {
  padding-right: 0px !important; }

.padding-top-i-1 {
  padding-top: 1px !important; }

.padding-bottom-i-1 {
  padding-bottom: 1px !important; }

.padding-left-i-1 {
  padding-left: 1px !important; }

.padding-right-i-1 {
  padding-right: 1px !important; }

.padding-top-i-2 {
  padding-top: 2px !important; }

.padding-bottom-i-2 {
  padding-bottom: 2px !important; }

.padding-left-i-2 {
  padding-left: 2px !important; }

.padding-right-i-2 {
  padding-right: 2px !important; }

.padding-top-i-3 {
  padding-top: 3px !important; }

.padding-bottom-i-3 {
  padding-bottom: 3px !important; }

.padding-left-i-3 {
  padding-left: 3px !important; }

.padding-right-i-3 {
  padding-right: 3px !important; }

.padding-top-i-4 {
  padding-top: 4px !important; }

.padding-bottom-i-4 {
  padding-bottom: 4px !important; }

.padding-left-i-4 {
  padding-left: 4px !important; }

.padding-right-i-4 {
  padding-right: 4px !important; }

.padding-top-i-5 {
  padding-top: 5px !important; }

.padding-bottom-i-5 {
  padding-bottom: 5px !important; }

.padding-left-i-5 {
  padding-left: 5px !important; }

.padding-right-i-5 {
  padding-right: 5px !important; }

.padding-top-i-6 {
  padding-top: 6px !important; }

.padding-bottom-i-6 {
  padding-bottom: 6px !important; }

.padding-left-i-6 {
  padding-left: 6px !important; }

.padding-right-i-6 {
  padding-right: 6px !important; }

.padding-top-i-7 {
  padding-top: 7px !important; }

.padding-bottom-i-7 {
  padding-bottom: 7px !important; }

.padding-left-i-7 {
  padding-left: 7px !important; }

.padding-right-i-7 {
  padding-right: 7px !important; }

.padding-top-i-8 {
  padding-top: 8px !important; }

.padding-bottom-i-8 {
  padding-bottom: 8px !important; }

.padding-left-i-8 {
  padding-left: 8px !important; }

.padding-right-i-8 {
  padding-right: 8px !important; }

.padding-top-i-9 {
  padding-top: 9px !important; }

.padding-bottom-i-9 {
  padding-bottom: 9px !important; }

.padding-left-i-9 {
  padding-left: 9px !important; }

.padding-right-i-9 {
  padding-right: 9px !important; }

.padding-top-i-10 {
  padding-top: 10px !important; }

.padding-bottom-i-10 {
  padding-bottom: 10px !important; }

.padding-left-i-10 {
  padding-left: 10px !important; }

.padding-right-i-10 {
  padding-right: 10px !important; }

.padding-top-i-12 {
  padding-top: 12px !important; }

.padding-bottom-i-12 {
  padding-bottom: 12px !important; }

.padding-left-i-12 {
  padding-left: 12px !important; }

.padding-right-i-12 {
  padding-right: 12px !important; }

.padding-top-i-13 {
  padding-top: 13px !important; }

.padding-bottom-i-13 {
  padding-bottom: 13px !important; }

.padding-left-i-13 {
  padding-left: 13px !important; }

.padding-right-i-13 {
  padding-right: 13px !important; }

.padding-top-i-15 {
  padding-top: 15px !important; }

.padding-bottom-i-15 {
  padding-bottom: 15px !important; }

.padding-left-i-15 {
  padding-left: 15px !important; }

.padding-right-i-15 {
  padding-right: 15px !important; }

.padding-top-i-20 {
  padding-top: 20px !important; }

.padding-bottom-i-20 {
  padding-bottom: 20px !important; }

.padding-left-i-20 {
  padding-left: 20px !important; }

.padding-right-i-20 {
  padding-right: 20px !important; }

.padding-top-i-25 {
  padding-top: 25px !important; }

.padding-bottom-i-25 {
  padding-bottom: 25px !important; }

.padding-left-i-25 {
  padding-left: 25px !important; }

.padding-right-i-25 {
  padding-right: 25px !important; }

.padding-top-i-30 {
  padding-top: 30px !important; }

.padding-bottom-i-30 {
  padding-bottom: 30px !important; }

.padding-left-i-30 {
  padding-left: 30px !important; }

.padding-right-i-30 {
  padding-right: 30px !important; }

.padding-top-i-35 {
  padding-top: 35px !important; }

.padding-bottom-i-35 {
  padding-bottom: 35px !important; }

.padding-left-i-35 {
  padding-left: 35px !important; }

.padding-right-i-35 {
  padding-right: 35px !important; }

.padding-top-i-40 {
  padding-top: 40px !important; }

.padding-bottom-i-40 {
  padding-bottom: 40px !important; }

.padding-left-i-40 {
  padding-left: 40px !important; }

.padding-right-i-40 {
  padding-right: 40px !important; }

.padding-top-i-45 {
  padding-top: 45px !important; }

.padding-bottom-i-45 {
  padding-bottom: 45px !important; }

.padding-left-i-45 {
  padding-left: 45px !important; }

.padding-right-i-45 {
  padding-right: 45px !important; }

.padding-top-i-50 {
  padding-top: 50px !important; }

.padding-bottom-i-50 {
  padding-bottom: 50px !important; }

.padding-left-i-50 {
  padding-left: 50px !important; }

.padding-right-i-50 {
  padding-right: 50px !important; }

.padding-top-i-55 {
  padding-top: 55px !important; }

.padding-bottom-i-55 {
  padding-bottom: 55px !important; }

.padding-left-i-55 {
  padding-left: 55px !important; }

.padding-right-i-55 {
  padding-right: 55px !important; }

.padding-top-i-60 {
  padding-top: 60px !important; }

.padding-bottom-i-60 {
  padding-bottom: 60px !important; }

.padding-left-i-60 {
  padding-left: 60px !important; }

.padding-right-i-60 {
  padding-right: 60px !important; }

.padding-top-i-65 {
  padding-top: 65px !important; }

.padding-bottom-i-65 {
  padding-bottom: 65px !important; }

.padding-left-i-65 {
  padding-left: 65px !important; }

.padding-right-i-65 {
  padding-right: 65px !important; }

.padding-top-i-70 {
  padding-top: 70px !important; }

.padding-bottom-i-70 {
  padding-bottom: 70px !important; }

.padding-left-i-70 {
  padding-left: 70px !important; }

.padding-right-i-70 {
  padding-right: 70px !important; }

.padding-top-i-75 {
  padding-top: 75px !important; }

.padding-bottom-i-75 {
  padding-bottom: 75px !important; }

.padding-left-i-75 {
  padding-left: 75px !important; }

.padding-right-i-75 {
  padding-right: 75px !important; }

.padding-top-i-80 {
  padding-top: 80px !important; }

.padding-bottom-i-80 {
  padding-bottom: 80px !important; }

.padding-left-i-80 {
  padding-left: 80px !important; }

.padding-right-i-80 {
  padding-right: 80px !important; }

.padding-top-i-85 {
  padding-top: 85px !important; }

.padding-bottom-i-85 {
  padding-bottom: 85px !important; }

.padding-left-i-85 {
  padding-left: 85px !important; }

.padding-right-i-85 {
  padding-right: 85px !important; }

.padding-top-i-90 {
  padding-top: 90px !important; }

.padding-bottom-i-90 {
  padding-bottom: 90px !important; }

.padding-left-i-90 {
  padding-left: 90px !important; }

.padding-right-i-90 {
  padding-right: 90px !important; }

.padding-top-i-95 {
  padding-top: 95px !important; }

.padding-bottom-i-95 {
  padding-bottom: 95px !important; }

.padding-left-i-95 {
  padding-left: 95px !important; }

.padding-right-i-95 {
  padding-right: 95px !important; }

.padding-top-i-100 {
  padding-top: 100px !important; }

.padding-bottom-i-100 {
  padding-bottom: 100px !important; }

.padding-left-i-100 {
  padding-left: 100px !important; }

.padding-right-i-100 {
  padding-right: 100px !important; }

.width-0 {
  width: 0px; }

.width-1 {
  width: 1px; }

.width-2 {
  width: 2px; }

.width-3 {
  width: 3px; }

.width-4 {
  width: 4px; }

.width-5 {
  width: 5px; }

.width-6 {
  width: 6px; }

.width-7 {
  width: 7px; }

.width-8 {
  width: 8px; }

.width-9 {
  width: 9px; }

.width-10 {
  width: 10px; }

.width-12 {
  width: 12px; }

.width-13 {
  width: 13px; }

.width-15 {
  width: 15px; }

.width-20 {
  width: 20px; }

.width-25 {
  width: 25px; }

.width-30 {
  width: 30px; }

.width-35 {
  width: 35px; }

.width-40 {
  width: 40px; }

.width-45 {
  width: 45px; }

.width-50 {
  width: 50px; }

.width-55 {
  width: 55px; }

.width-60 {
  width: 60px; }

.width-65 {
  width: 65px; }

.width-70 {
  width: 70px; }

.width-75 {
  width: 75px; }

.width-80 {
  width: 80px; }

.width-85 {
  width: 85px; }

.width-90 {
  width: 90px; }

.width-95 {
  width: 95px; }

.width-100 {
  width: 100px; }

.color-black {
  color: black; }

.color-red {
  color: red; }

.color-white {
  color: white; }

.color-blue {
  color: blue; }

.color-green {
  color: green; }

.color-yellow {
  color: yellow; }

.color-ff4a46 {
  color: #ff4a46; }

.color-4c2a50 {
  color: #4c2a50; }

.color-330c37 {
  color: #330c37; }

.color-ffffff {
  color: #ffffff; }

.color-ff0000 {
  color: #ff0000; }

.color-ff5a00 {
  color: #ff5a00; }

.bg-ff4a46 {
  background: #ff4a46; }

.bg-4c2a50 {
  background: #4c2a50; }

.bg-330c37 {
  background: #330c37; }

.bg-ffffff {
  background: #ffffff; }

.bg-ff0000 {
  background: #ff0000; }

.bg-ff5a00 {
  background: #ff5a00; }


/* color */
/* bg */
