$primary-color: #0c8ca7;
$secondary-color: #ffbf40;

$default-font: 'SupriaSans-regular';
$default-font-size: 1.6rem;

$default-gutter-width: 1.5rem;

$money-font: 2.2rem "SupriaSans-bold", sans-serif;

$padding-default: 8px 15px;
$border-radius-default: 6px 6px;