@font-face {
  font-family: 'SupriaSans-light';
  src: url('../fonts/SupriaSans-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/SupriaSans-Light.otf')  format('opentype'),
      url('../fonts/SupriaSans-Light.woff') format('woff'), url('../fonts/SupriaSans-Light.ttf')  format('truetype'), url('../fonts/SupriaSans-Light.svg#SupriaSans-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SupriaSans-bold';
  src: url('../fonts/SupriaSans-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/SupriaSans-Bold.otf')  format('opentype'),
      url('../fonts/SupriaSans-Bold.woff') format('woff'), url('../fonts/SupriaSans-Bold.ttf')  format('truetype'), url('../fonts/SupriaSans-Bold.svg#SupriaSans-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SupriaSans-mediumitalic';
  src: url('../fonts/SupriaSans-MediumItalic.eot?#iefix') format('embedded-opentype'),  url('../fonts/SupriaSans-MediumItalic.otf')  format('opentype'),
      url('../fonts/SupriaSans-MediumItalic.woff') format('woff'), url('../fonts/SupriaSans-MediumItalic.ttf')  format('truetype'), url('../fonts/SupriaSans-MediumItalic.svg#SupriaSans-MediumItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SupriaSans-regular';
  src: url('../fonts/SupriaSans-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/SupriaSans-Regular.otf')  format('opentype'),
      url('../fonts/SupriaSans-Regular.woff') format('woff'), url('../fonts/SupriaSans-Regular.ttf')  format('truetype'), url('../fonts/SupriaSans-Regular.svg#SupriaSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}